
// Laptop responsive
@include get-laptop-responsive{
    .video-area {
        .video-main {
            @include get-gird-repeat(3, 32%);



            .items .video-thumbnail{
                height: 200px;
            }
        }

    }


    // shorts area
    .video-shorts {
        .video-shorts-saction{
            @include get-gird-repeat(6, 16%);
        }
    }

}



// laptop-main
@include get-laptop-main-responsive{
    .main-saction{
        grid-template-columns: 80px auto;
        column-gap: 40px;
    }


    .side-bar-fixed .item{
        display: block;
        width: 80px;
        font-size: 10px;
        text-align: center;
        padding: 20px 0;
        .icon{
            display: block;
            margin: auto;
            font-size: 20px;
            margin-bottom: 7px;

        }
    }

    .side-bar-fixed .signin-saction {
        display: none;
    }

}





@include get-tab-responsive{
    .video-area {
        .video-main {
            @include get-gird-repeat(2, 49%);



            .items .video-thumbnail{
                max-width: 350px;
            }
        }

    }


    // shorts area
    .video-shorts {
        .video-shorts-saction{
            @include get-gird-repeat(4, 24%);
        }
    }
}



@include get-mobile-responsive{
    .header {
        display: block;
        .header-logo-bar{
            display: none;
        }

        .header-singup{
            display: none;
        }

        .header-search{
            @include get-gird(83% 17%);
            column-gap: 20px;

            .search {
                @include get-gird(10% 80% 10%);
                .back-icon {
                    justify-self: left;
                    display: block;
                    .icon {
                        color: white;
                        font-size: 25px;
                        cursor: pointer;
                    }
                }
            }
            .voice-search {
                margin-left: 20px;
                .voice {
                    border-radius: 0px!important;
                }
            }
        }
        
    }



    //Video
    .video-area {
        .video-main {
            @include get-gird-repeat(1, 100%);

            .items{
                justify-self: center;
            }
            .items .video-thumbnail{
                max-width: 350px;
            }
        }

    }


    // shorts area
    .video-shorts {
        .video-shorts-saction{
            @include get-gird-repeat(2, 35%);
            column-gap: 20px;
            justify-content: center;


            .shorts-thumb{
                height: 220px !important;
            }
        }
    }

    // side-bar
    .main-saction{
        display: block;
        padding-right: 0;
    }

    .side-bar-fixed{
       display: none;
    }
    .top-bar{
        column-gap: 10px;
    }




}





    // Playvidoe responsive

@include get-tab-responsive{

    .playarea{
        .playarea-right{
            .playarea-video-box{

            }

            .playarea-details{

                .playarea-datails-text{
                     @include get-gird(50% 50%);

                     .video-detail-left{
                        .player-text{

                            .play-area-subcribe{
                               font-size: 12px; 
                               padding: 7px 10px;
                            }
                        }
                     }


                    .video-detail-right{
                        margin-top: 15px;

                        .detail-btn{
                            margin-right: 10px;
                            margin-left: 0px;
                            font-size: 12px;
                            padding: 7px;
                            padding-right: 9px;
                            .icon {
                                font-size: 18px;
                                width: 25px;
                            }
                        }

                        .play-menu{
                            display: none;
                        }
                    }
                }
            }

        }
    }

}







// play area mobile responise
@include get-mobile-responsive{
    .playarea{
        display: block;

        .playarea-right{

            .playarea-video-box{

            }

            .playarea-details{
                margin-bottom: 20px;
                .playarea-datails-text{
                        display: block;
                     .video-detail-left{
                        position: relative;
                        .player-text{

                            .play-area-subcribe{
                                position: absolute;
                                right: 0;
                            }
                        }
                     }


                    .video-detail-right{
                        margin-top: 15px;
                        justify-content: left;
                        .detail-btn{
                            .icon {

                            }
                        }

                        .play-menu{
                        }
                    }
                }
            }

        }




        // realated video
        .playarea-left {
            .playarea-related-item{
                @include get-gird(40% 60%);
                align-items: start;
                margin-bottom: 10px;
                .related-video-thumb{
                    img{
                        max-height: 240px;
                    }
                }

                .realted-video-details{

                }

            }
        }
    }
}