.video-shorts{
    margin:20px 0 ;
    border-top: 5px solid $color-border-gray;
    border-bottom: 5px solid $color-border-gray;

    .video-shorts-saction{
        @include get-gird-repeat(8, 11.5%);
        justify-content: space-between;
        .shorts-item{
            overflow: hidden;
            .shorts-thumb{
                border-radius: 15px;
                overflow: hidden;
                width: 100%;
                height: 270px;

                img{
                    width: 100%;
                    height: inherit;
                    object-fit: cover;
                }
            }


            .shorts-details{
                padding: 10px 0;

                .shorts-title{
                    font-size: 16px;
                    font-weight: 500;
                    position: relative;


                    .icon{
                        position: absolute;
                        right: 0;
                    }
                }


                .shorts-views{
                    font-size:14px;
                    font-weight: 400;
                    color: $color-gray;
                    margin-top: 10px;
                }
            }
        }

    }

    .shorts-more-saction{
        text-align: center;
        padding: 5px 0;
        .icon {
            font-size: 25px;
        }
    }



    .saction-title{
        padding: 20px 0;

        .title-icon{
            @include get-vertical-align;
            .icon{
                margin-right: 10px;
                color: $color-youtube-red;
                font-size: 25px;
            }

            .title {
                font-weight: 400;
                font-size: 20px;
            }
        }
    }

}