@import "resets";
@import "config";
@import "header";
@import "video";
@import "playVideo";
@import "sidebar";
@import "shorts";
@import "dynamicStyles";
@import "mobileHeader";
@import "responsive";

body{
    @include color-mood(dark);
}

.container{
    overflow: hidden;
    min-height: 400px;
}


.copy-right{
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 11;
    
    a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    &:hover{
    text-align: center;
        color: $color-youtube-red;
    }
    }
}

